extends layout

block content
	.wrap
		header
			.room-title
				img(src='/img/logo-cominy.png')
				b #{room.name}
				の集会所
			//include rooms_dropdown
			include user_box

			// -- post thread form
			#thread.modal.modal-thread(style='display: none')
					.modal-content
						h2 スレッド新規作成
					.thread-detail
						textarea(name='', value='')
					.modal-footer
						a.button.post-thread(href='#') スレッドを立てる
			// -- post thread form

		.content(role='main')
			#left-column
				#thread-list
					.caption
						.caption-title 募集スレッド
						.post-thread
							a.fancybox(href='#thread')
								スレッド新規作成
					// .caption
					.thread
						// thread-content
						.history
							//historical submits
						.current
							//current submits
					// .thread 

					.line-thread
					.line-thread.second

				// #thread-list


			// #left-column

			#right-column
				.caption
					.caption-title チャット
				.chat
					.history
						//historical submits
					.current
						//current submits
				// .chat
				.chat-input
					input.text(type='text', name='', value='')
				// .chat-input

			// #right-column

			.spacing
			.spacing

			#online-user-list
				.caption
					.caption-title 閲覧中のみんな
					.caption-title.span.online-num
				include online_user_list
			// #online-user-list

			.spacing

			.dropdown.dropdown-status
				i
				a.selected(class='#{user.status}', href='#')
					b
					| #{user.status}
				br
				.dropdown-options
					.triangle
					.list
						- fullStatus.forEach(function(status) {
							- if (status == user.status)
								- current = 'current'
							- else
								- current = ''
							a(class='option status #{status} #{current}', data-status='#{status}', href='#')
								b
								| #{status}
						- })

	// .wrap

	span#room_name(style="display:none")= room.name
	span#nickname(style="display:none")= user.nickname
	span#image_url(style="display:none")= user.image_url

	include templates/chat_tmpl
	include templates/thread_tmpl

	script(defer, src="/js/libs/fancy-box/jquery.fancybox.pack.js")
	script(defer, src="/js/plugins.js")
	script(defer, src="/js/libs/ICanHaz.min.js")
	script(src="/socket.io/socket.io.js")

	script(defer, src="/js/script.js")              
