extends layout

block content
	#wrap
		header
			.room-title
				if (room.key === 'lobby')
					a(href='/')
						img(src='/img/logo-cominy.png')
					b #{room.name}
				else
					a(href='/rooms/#{room.key}')
						img(src='/img/rooms/#{room.key}.gif')
					b #{room.name}
			.room-detail
				| #{room.detail.substring(0,110)}
			//include rooms_dropdown
			include user_box

			// -- post form
			#thread.modal.modal-thread(style='display: none')
					if (room.id === 'lobby')
						// lobby -> room
						.modal-content
							h2 ルーム新規作成
						form(method="POST",action="/create")
							p
								.create-room
									input.text-grey(type='text', name='room_id', placeholder='ルームID')
									input.text-grey(type='text', name='room_name', placeholder='ルーム名')
									textarea(name='detail', value='')
								.modal-footer
									input.button(type='submit', value='ルームを作成する')
					else
						// room -> thread
						.modal-content
							h2 スレッド新規作成
						.thread-detail
							textarea(name='', value='')
						.modal-footer
							a.button.post-thread(href='#') スレッドを立てる
		//
		// main
		//
		.content(role='main')

			//
			// left column
			//
			#left-column

				if (room.key === 'lobby')
					#room-list
						.caption
								.caption-title ルーム一覧
									| （#{rooms.length}）
								.post-room
									a.fancybox(href='#room')
										ルーム新規作成
						.room
							.room-list.hide-inactive
								each room,index in rooms
									- var roomClass = room.online > 0 ? "room-active" : "room-inactive";
									.room-box
										.room-logo
											img(src='/img/rooms/'+room.key+'.gif')
										.room-header
											.room-name
												a(href='/rooms/' + room.key, class="#{roomClass}", title="#{room.name}", target='_blank')
													| #{room.name.substr(0,20)}
											.room-admin
												| オーナー：
												img(src='#{room.admin.image_url}')
												b #{room.admin.nickname}
										.room-detail
											| #{room.detail}
										.room-info
											.room-total-visits
													| 総入場者数：
													b #{room.total_visits} 
													| 人
											.room-time
													| このルームは 
													b #{room.time} 
													| に作られました。
										.room-online
											.users-online-number
												| オンライン：
												b #{room.online} 
												| 人
											each user, index in room.users
												img(src='#{user.image_url}')
					.inactive
						//input(type='checkbox', id="hide-inactive", checked) 
						//label(for="hide-inactive") Hide inactive
				else
					#thread-list
						.caption
								.caption-title スレッド一覧
								.post-thread
									a.fancybox(href='#thread')
										スレッド新規作成
						// .caption
						.thread
							.video-box
							.image-box

							// thread-content
						.history
							//historical submits
						.current
							//current submits
					// .thread 

					.line-thread
					.line-thread.second
				// << room

			//
			// right column
			//
			#right-column
				.caption
					.caption-title
						| #{room.name}チャット
				.chat
					.history
						// historical submits
					.current
						//current submits
				// .chat
				.chat-tools
					button#bgcolor-picker(type='button')
						背景色
					button#color-picker(type='button')
						文字色
					button#image-picker(type='button')
						スタンプ
					// button
				.chat-input
					input.text(type='text', name='', value='')
				// .chat-input

			// #right-column

			.spacing
			.spacing

			#online-user-list
				.caption
					.caption-title オンラインのユーザ一覧
					.caption-title.span.online-num
				include online_user_list
			// #online-user-list

			.spacing

			.dropdown.dropdown-status
				i
				a.selected(class='#{user.status}', href='#')
					b
					| #{user.status}
				br
				.dropdown-options
					.triangle
					.list
						- fullStatus.forEach(function(status) {
							- if (status == user.status)
								- current = 'current'
							- else
								- current = ''
							a(class='option status #{status} #{current}', data-status='#{status}', href='#')
								b
								| #{status}
						- })

	// .wrap

	span#room_name(style="display:none")= room.name
	span#nickname(style="display:none")= user.nickname
	span#image_url(style="display:none")= user.image_url

	include templates/chat_tmpl
	include templates/thread_tmpl

	script(defer, src="/js/libs/fancy-box/jquery.fancybox.pack.js")
	script(defer, src="/js/libs/jquery.simple-color-picker.js")
	script(defer, src="/js/libs/jquery.simple-image-picker.js")
	script(defer, src="/js/plugins.js")
	script(defer, src="/js/libs/ICanHaz.min.js")
	script(src="/socket.io/socket.io.js")

	script(defer, src="/js/script.js")              
